 {% extends 'base.html' %}
{% load static %}
{% block section %}
 <h2>SELECIONES</h2>
 <a href="{% url 'selection-create' %}" class="btn btn-primary">Agregar Selecion</a>
 <hr>
{% endblock section %}

{% block maincontent %}
   <div class="d-flex flex-wrap">
      {% for c in object_list %}      
      <div class="card mb-4 mr-1">
         <img class="card-img-top" src="{% static c.shield.url %}" alt="{c.team.name}">
         <div class="card-body">
            <h5 class="card-title">{{ c.name }}</h5>
            <p class="card-text"></p>
            <a href="{% url 'selection-detail' c.pk %}" class="btn btn-primary">Equipo</a>
         </div>
      </div>                           
      {% endfor %}
   </div>
{% endblock maincontent %}
